#title{
    background-color: #ff4c68;
}

.nav-link{
    color: white;
}
.container-fluid{
    padding: 3% 15%;
}

#testimonials{
    
    color: #fff;
}

.carousel-item{
    padding: 3% 15%;
}

#features{
    position: relative;
    /* z-index: 1; - not necessary*/
}

.title-image{
    position: absolute;
    right: 30%;
}

@media (max-width:1028px){
    
    #title{
        text-align: center;
    }
    
    .title-image{
    position: static;
    transform: rotate(0);
}

}

h1,h2{
    font-family: "Montserra-Black";
    color: green;
    line-height: 1.5;
    font-size: 3rem;
}

.carousel-inner.carousel-item{
    font-size: medium;
}
#pricing{
    color: grey;
}

#press{
    background-color: #fff;
    text-align: center;
    padding-bottom: 5%;
}

.press-logo{
    background-color: lavender;
    width: 15%;
    margin: 20px 20px 50px;

}